<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->
<div class="container" style ="margin-top: 20px;width: 800px">
<!-- https://getbootstrap.com/docs/4.0/components/card/ -->
<!-- https://getbootstrap.com/docs/4.0/layout/grid/ -->


  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Control validations (One Form Element)</h5>
      <form [formGroup]="formControlValidation">
        <div class="form-group">
          <h6 class="card-title">Simple validations</h6>
          <label for="exampleInputEmail1">Title</label>
          <input type="title" class="form-control" formControlName="title" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter title">
          <app-error-message [control]='formControlValidation.controls.title'></app-error-message>
        </div>
        <div class="form-group">
          <h6 class="card-title">Multiple validations</h6>
          <label for="exampleInputPassword1">Email</label>
          <input type="email" class="form-control" formControlName="email" id="exampleInputPassword1" placeholder="Enter Email">
          <app-error-message [control]="formControlValidation.controls.email"></app-error-message>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="button" [disabled]="!formElementValid" (click)="onSave()" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-dark" style="margin-left: 10px">Cancel</button>
      </form>
    </div>
    </div>


    <!-- https://v4-alpha.getbootstrap.com/components/forms/ -->


    <div class="card" style="margin-top: 20px">
      <div class="card-body">
        <h5 class="card-title">Group validations (One Form Element)</h5>

        <form [formGroup]="formGroupValidation">

          <div class="form-group">

            <div class = "row">

            <div class="col-4">
              <label for="start-date-input">Start Date</label>
              <input class="form-control" value=""  type="date" id="startDate" formControlName="startDate">
              <app-error-message [control]='formGroupValidation.controls.startDate'></app-error-message>
            </div>

            <div class="col-4">
              <label for="end-date-input">End Date</label>
              <input class="form-control" value=""  type="date" id="endDate" formControlName="endDate">
              <app-error-message [control]='formGroupValidation.controls.endDate'></app-error-message>
            </div>
          </div>
        </div>

          <button type="button" [disabled]="!formGroupValid" (click)="onSave()" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-dark" style="margin-left: 10px">Cancel</button>
        </form>
      </div>
    </div>


    <div class="card" style="margin-top: 20px">
      <div class="card-body">
        <h5 class="card-title">All form validations (Add all numbers > 30 )</h5>
        <form [formGroup]="formAllValidation">
          <div class="form-group">
            <label for="exampleNumber1">Number one</label>
            <input type="text" class="form-control" formControlName="number1" id="number1" aria-describedby="number1Help" placeholder="Enter number one">
            <app-error-message [control]='formAllValidation.controls.number1'></app-error-message>
          </div>
          <div class="form-group">
            <label for="exampleNumber2">Number two</label>
            <input type="text" class="form-control" formControlName="number2" id="number2" aria-describedby="number2Help" placeholder="Enter number two">
            <app-error-message [control]='formAllValidation.controls.number2'></app-error-message>
          </div>

          <div class="form-group">
            <label for="exampleNumber3">Number three</label>
            <input type="text" class="form-control" formControlName="number3" id="number3" aria-describedby="number3Help" placeholder="Enter number three">
            <app-error-message [control]='formAllValidation.controls.number3'></app-error-message>
          </div>

          <ng-container  *ngIf="formAllValidation.errors && formAllValidation.errors.controlErrorMsg != null">
            <div style="margin: 5px 5px; border: 1px solid red;padding: 2px 20px ">
              <app-error-message [control]='formAllValidation'></app-error-message>
            </div>
          </ng-container>

          <button type="button" [disabled]="!formAllValid" (click)="onSave()" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-dark" style="margin-left: 10px">Cancel</button>
        </form>
      </div>
      </div>




</div>







